.alert-success {
    background-color: green
}

.alert-warning {
    background-color: yellow;
}

.alert-danger {
    background-color: gitrgb(0, 0, 0);
}

.alert-info {
    background-color: teal;
}
nav li{display: inline; background-color: rgb(255, 255, 255);}
nav li a{color: hotpink}
input{border-radius: 50%;}
body{
    background-color: rgb(255, 255, 255);
    color: rgb(153, 0, 0);

}